h2{
  text-align : center;
}

body {
  background-image: url("../../../assets/images/fadedTable.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
}

.brand_logo_container {
  position: absolute;
  height: 150px;
  width: 150px;
  top: 10px;
  left : 620px;
  border-radius: 50%;
  padding: 10px;
  text-align: center;
}

.brand_logo {
  height: 110px;
  width: 110px;
}

.waitlist-entry-card {
  justify-content: center;
  align-content: center;
  margin-left: 56px;
  margin-right: 10px;
  position: absolute;
  border: 1px solid #808080;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.customer-waitlist-information-card {
  padding: 20px;
  margin: 25px;
  justify-content: center;
  align-content: center;
  border: 1px solid #808080; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

#addBtn{
  background-color: #000000;
  color: white;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  border-radius: 8px;
  align-self: center;
}

#addBtn:hover {
  background-color: #808080; 
  color: black;
}

.selectMenuBtn{
  background-color: #ff8000;
  color: white;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  max-width: 92%;
  min-width: 92%;
  opacity: 0.9;
}

.selectMenuBtn:hover {
  background-color: #000000; 
  color: white;
}

.manageWait{
  position: absolute;
  top: 8px;
  right: 16px;
}

.logoutBtn{
  height:40px; 
  width:100px; 
  position: absolute;
  top: 8px;
  right: 16px;
  background-color: black;
  text-align: center;
}