<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<br><br>
<h2>DIN TAI FUNG</h2>
<br><br>
<div class="waitlist-entry-card" style="width: 80rem;">
  <div class="card-body">
    <form>
      <div class="input-group input-group-lg">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <!--<label for="FullName">Full Name <span class="glyphicon glyphicon-user"></span></label>-->
        <input type="text" class="form-control" id="FullName" placeholder="Full name">
        </div>
        <br>
        <div class="input-group input-group-lg">
            <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
          <!--<label for="phone">Phone number <span class="glyphicon glyphicon-phone"></span></label> -->
          <input type="text" class="form-control" id="phone" placeholder="Phone number">
          </div>
          <br>
          <div class="input-group input-group-lg">
              <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
              <!--<label for="email">Email address <span class="glyphicon glyphicon-envelope"></span></label>-->
              <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
              <!--<small id="emailHelp" class="form-text text-muted" >username@example.com</small>-->
          </div><br>
          <div class="input-group input-group-lg">
              <span class="input-group-addon"><i class="fa fa-user-friends"></i></span>
              <!--<label for="group">Group size <span class="glyphicon glyphicon-user"></span></label>-->
              <input type="text" class="form-control" id="group" placeholder="Group size">
          </div>
      <br>
      <button type="submit" class="btn btn-primary btn-lg" id = "addBtn" onclick="addToWaitlist()">Submit</button>
    </form>
  </div>
</div>

<div class="customer-waitlist-information-card" style="width: 60rem;">
    <div class="card-body">
      <h4 class="card-title"><b>Your waitlist information </b> <span class="glyphicon glyphicon-info-sign"></span></h4>
      <div *ngIf="show; else notShow">
          <b>Name : </b> <span id = "bookedName">Spoorthi</span> <br><br>
          <b>Number : </b> <span id = "queuePosition">2</span><br><br>
          <b>Booking time: </b><span id = "addedTime">2019-05-07 19:05</span> <br><br>
          <b>Approximate wait time : </b><span id = "waitTime"></span><br><br>
          <button type="button" class="btn btn-default btn-sm" onclick="editWaitList()">
              <span class="glyphicon glyphicon-pencil"></span> 
            </button>
          <button type="button" class="btn btn-default btn-sm" onclick="deleteFromWaitList()">
              <span class="glyphicon glyphicon-trash"></span> 
            </button>
          </div>
        
        <ng-template #notShow>
          <p style="color:grey;padding:10px;">
            "Add yourself to waitlist to monitor your status."
          </p>
        </ng-template>
    </div>
  </div>

<br>
<button class = "selectMenuBtn" mat-raised-button color="warn" routerLink="/menu/1">MENU</button>
<mat-divider></mat-divider>

<div style="text-align: center"><br><br>
<a href=manageWaitlist><i class="material-icons">&#xE87C;</i></a>
</div>