h2{
  text-align : center;
}

.waitlist-entry-card {
  max-width: 550px;
    justify-content: center;
    align-content: center;
    margin-left: 56px;
    margin-right: 10px;
    border: 1px solid #808080;
}

.customer-waitlist-information-card {

   justify-content: center;
    align-content: center;
    border: 1px solid #808080; 
    
    width : 40%;
    position: absolute;
    top: 160px;
    right: 60px; 
}

.full-width {
    width: 100%;
    
  }

  .addBtn{
    background-color: #000000;
  color: white;
  border: none;
  cursor: pointer;
  width: 60%;
  opacity: 0.9;
  border-radius: 8px;

  align-self: center;
  width: 530px;
  margin-left: 30px;
    
}


.addBtn:hover {
  background-color: #808080; 
  color: black;
}

.selectMenuBtn{
	
  background-color: #ff8000;
  color: white;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  max-width: 92%;
  min-width: 92%;
  opacity: 0.9;
  margin-right: 8px;
  left: 56px;
}

.selectMenuBtn:hover {
  background-color: #000000; 
  color: white;
}
