h2{
  text-align : center;
}

.waitlist-entry-card {
  max-width: 600px;
    justify-content: center;
    align-content: center;
    margin-left: 56px;
    margin-right: 10px;
    position: relative;
    border: 1px solid #808080;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.customer-waitlist-information-card {

   justify-content: center;
    align-content: center;
    border: 1px solid #808080; 
    width : 40%;
    position: absolute;
    top: 200px;
    right: 60px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.full-width {
    width: 100%;
    
  }

  #addBtn{
    background-color: #000000;
  color: white;
  border: none;
  cursor: pointer;
  width: 60%;
  opacity: 0.9;
  border-radius: 8px;

  align-self: center;
  width: 570px;
    
}


#addBtn:hover {
  background-color: #808080; 
  color: black;
}

.selectMenuBtn{
	
  background-color: #ff8000;
  color: white;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  max-width: 92%;
  min-width: 92%;
  opacity: 0.9;
  margin-right: 8px;
  left: 56px;
}

.selectMenuBtn:hover {
  background-color: #000000; 
  color: white;
}
