<div class="brand_logo_container" >
  <a href="/#/home"><img src="../assets/images/LOGO.png" class="brand_logo" alt="Logo"></a>
</div>

<ng-template [ngIf]="displayEmail"><button type="button" class="logoutBtn"><a href = "https://waytlessv1.azurewebsites.net/logout" style="color:white">Log out</a></button></ng-template>
<ng-template [ngIf]="!displayEmail"><button type="button" class="logoutBtn"><a href="/auth/google" style="color:white">Log In</a></button></ng-template>

<div class="active-pink-3 active-pink-4 mb-4" style="width:50%;margin :0 auto ;margin-top: 40px">
  <ng-template [ngIf]="displayEmail"><b>Welcome, <span>{{displayEmail}}</span>!</b></ng-template>
  <input [(ngModel)]='search' (keydown)="keyDownFunction($event)" class="form-control" type="text"
    placeholder="Search Restaurant by Name or City" aria-label="Search">
</div>
<div class="div_body">
  <br>
  <span class="title">Popular Restaurants</span>
  <div class="row" style="margin-left: 5px">
    <div class="card" style="width: 18rem;" (click)="onRestaurantClickEvent(restaurant_id,restaurant_owner_email)"
      *ngFor="let r of restuarant">
      <img src={{r.url}} style="width: 290px;height: 200px">
      <div class="card-body">
        <span class="mat-title">{{r.name}}</span>
        <div layout="row" layout-align="start center">
          <img class="mat-icon-button" src="../assets/images/review_full.png"
            *ngFor="let e of createStarArray(r.rating)">
          <img class="mat-icon-button" src="../assets/images/review_empty.png"
            *ngFor="let e of createEmptyStarArray(r.rating)">
          <span class="rating_text">{{r.reviews}} Reviews</span>
          <span #restaurant_id style="display:none">{{r.restaurantID}}</span>
          <span #restaurant_owner_email style="display:none">{{r.owner}}</span>
        </div>
        <p class="text">{{r.cuisine}} . $$$ . {{r.address.city}}</p>
        <p class="mat-body-2">Booked {{r.booked}} times</p>
        <a routerLink="menu/1" class="mat-body-2">See menu</a>
      </div>
    </div>
  </div>