<div class="brand_logo_container" >
    <img src="../assets/images/LOGO.png" class="brand_logo" alt="Logo">
  </div>
<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<!--<div class="d-flex justify-content-center">
					<div class="brand_logo_container">
						<img src="../assets/images/LOGO.png" class="brand_logo" alt="Logo">
					</div>-->
				<!--</div>-->
				<!--<div class="d-flex justify-content-center form_container">
					<form>
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input type="text" name="" class="form-control input_user" value="" placeholder="username">
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<input type="password" name="" class="form-control input_pass" value="" placeholder="password">
						</div>
						<div class="form-group">
							<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input" id="customControlInline">
								<label class="custom-control-label" for="customControlInline">Remember me</label>
							</div>
						</div>
					</form>
		</div>-->
				<div class="d-flex justify-content-center mt-3 login_container">
						<select class="mdb-select md-form">
								<option value="" disabled selected>Choose user</option>
								<option value="owner">Restaurant Owner</option>
								<option value="customer">Customer</option>
							</select> <br> <br>
					<button type="button" name="button"  class="btn login_btn" (click) = 'authenticateLogin()'>Login</button>
				</div>
				
			</div>
		</div>
  </div>

      <div class="active-pink-3 active-pink-4 mb-4" style="width:50%;margin :0 auto ;margin-top: 90px">
          <input [(ngModel)]='search' (keydown)="keyDownFunction($event)" class="form-control" type="text" placeholder="Search Restaurant by Name or City" aria-label="Search">
        </div>
<div class="div_body">
  

  
<br>
<span class="title" >Popular Restaurants</span> 
<div class="row" style="margin-left: 5px" >
  <div class="card" style="width: 18rem;" (click)="onRestaurantClickEvent(restaurant_id)" *ngFor="let r of restuarant">
    <img src={{r.url}}  style="width: 290px;height: 200px">
    <div class="card-body">
      <span class="mat-title">{{r.name}}</span>       
      <div layout="row" layout-align="start center"  >
       <img class= "mat-icon-button" src="../assets/images/review_full.png" *ngFor= "let e of createStarArray(r.rating)">
       <img class= "mat-icon-button" src="../assets/images/review_empty.png" *ngFor= "let e of createEmptyStarArray(r.rating)">           
			 <span class="rating_text" >{{r.reviews}} Reviews</span>
			 <span #restaurant_id  style="display:none" >{{r.restaurantID}}</span>
      </div>
    <p class="text">{{r.cuisine}} . $$$ . {{r.address.city}}</p>
    <p class="mat-body-2">Booked {{r.booked}} times</p> 
    <a href="menu/1" class="mat-body-2">See menu</a> 
   </div>
 </div>  
  </div>