 .login-card {
    max-width: 250px;
    margin-left: 1100px;
    margin-top: 20px;
    align-content: center;
    margin-right: 10px;
  }
  .example-card {
    max-width: 300px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .example-full-width{
    padding-left: 10px;
  }
  .right{
    float: right;
  }
  .left{
    float: left;
  }
  .mat-raised-button{
      align-self: center;
      width: 250px;
      margin-left: 20px;
      background-color: #FF6E40;    
  }
  .button-container{
    display: flex;
  }
  .card-container {
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    align-self: center;
    scroll-behavior: smooth;
    display: flex;  
    margin-top: 0px;
    margin-right: 10px;
    overflow-x: auto;
    justify-content: space-between;
    width: 97%;
  }
.card-container::-webkit-scrollbar { width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */ }
.appTitle{
  left : 47%;
  margin-top: 0px;
  position: absolute;
}

.mat-title
{
  margin-bottom: 0rem;
  padding-bottom: -2rem;
  padding-top: 0rem;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.mat-caption{
  
  font-size: 12px;
}

.mat-icon-button {
  margin: 0 0.1rem;
  height: 1rem;
  min-width: 0;
  line-height: 2rem;
  padding-left: 0;
  padding-right: 0;
  width: 1rem;
}

.login-text{
  margin-left : 10px;
  font-size: 15px;
  color: #FF6E40;
  font-family: 'Roboto', sans-serif;
}
.flex {
  flex: 1 1 auto;
}    

.title{
  font-size: 22px;
  font-family: sans-serif;
  margin-left: 20px;
  margin-bottom: 0px;
  margin-top: 0px;
}
.text
{
  font-size: 13px;
  font-family: sans-serif;
  margin-top: 0px;
}
.rating_text
{
  font-size: 13px;
  margin-left: 10px;
  font-family: sans-serif;
  margin-top: -3px;
}
.div_body{
  background-position-x: fixed;
  font-family: 'Roboto', sans-serif;
  margin:0px !important;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  }
   
 .mat-body-2 {
   font-family: 'Roboto', 'sans-serif';
   color: #FF6E40;
 }
 .user_card {
  height: 400px;
  width: 350px;
  margin-top: auto;
  margin-bottom: auto;
  background: #f39c12;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}
.brand_logo_container {
  position: absolute;
  height: 150px;
  width: 150px;
  top: -75px;
  border-radius: 50%;
 
  padding: 10px;
  text-align: center;
}
.brand_logo {
  height: 150px;
  width: 150px;
  
}
.form_container {
  margin-top: 100px;
}
.login_btn {
  width: 100%;
  background: #c0392b !important;
  color: white !important;
}
.login_btn:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.login_container {
  padding: 0 2rem;
}
.input-group-text {
  background: #c0392b !important;
  color: white !important;
  border: 0 !important;
  border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: #c0392b !important;
}