<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">



<div class="container-fluid">

  
  <div class="row">
    <h1>Waitlist for <a href="/menu/{{restaurantId}}">{{restaurantName}}</a></h1>
  <p></p><p></p>
  </div>


  <ng-template [ngIf]="waitlist?.length == 0">

          <div class="container">
            <h3>This restaurant does not have an active waitlist.</h3>
              
          </div>
  </ng-template>


  <ng-template [ngIf]="waitlist?.length > 0">
  <div class="row">

    <div class="col-lg-2">
      <h2>Filters</h2>
      <div class="form-group">
        <label for="usr">Search by name</label>
        <input type="text" class="form-control" id="name">
        </div>
    </div>

    <div class="col-lg-10">
        <div class="queueStatus">
          <div class="row">
            <div class="col-lg-6">
              <h4>Number of groups: <span class="badge badge-secondary badge-pill">{{ waitlist?.length }}</span></h4>
            </div>
            <div class="col-lg-5">
              <h4>Average Wait Time (in minutes): <span class="badge badge-secondary badge-pill">0</span></h4>
            </div>
            <div class="col-lg-1">
                <button mat-stroked-button color="green"><a routerLink="/waitlist-entry">Add</a></button>
            </div>
          </div>
    </div>
    <p>
    </p>

<table class="table table-striped text-center">
  <thead>
  <tr>
    <th class="text-center" scope="col">#</th>
    <th class="text-center" scope="col">Name</th>
    <th class="text-center" scope="col">Group Size</th>
    <th class="text-center" scope="col">Phone</th>
    <th class="text-center" scope="col">Email</th>
    <th class="text-center" scope="col">Time joined</th>
    <th class="text-center" scope="col">Quoted Time</th>
    <th class="text-center" scope="col">Notified</th>
    <th class="text-center" scope="col">Confirmed</th>
    <th class="text-center" scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let reservation of waitlist; index as id">
    <td>{{reservation.queueID}}</td>
    <td>{{reservation.customerName}}</td>
    <td><span class="editable" contenteditable="true" (keyup)="updateGroupSize(reservation.queueID, 'groupSize', $event)" (blur)="refreshTable(id, 'groupSize', $event)">{{reservation.groupSize}}</span></td>
    <td>{{reservation.phone}}</td>
    <td>{{reservation.email}}</td>
    <td>{{ reservation.joinTime | date:'shortTime' }}</td>
    <td>{{ reservation.quotedtime | date:'shortTime' }}</td>
    <td><div *ngIf="reservation.notified == true; else elseBlock"><i class="fa fa-check"></i></div><ng-template #elseBlock>
      <i class="fa fa-times" aria-hidden="true"></i> &nbsp;
      <button mat-flat-button color="primary" (click)="notify(reservation.queueID)"><i class="fa fa-bell"></i> Notify</button>
      </ng-template></td>
    <td><div *ngIf="reservation.confirmed == true; else elseBlock1"><i class="fa fa-check"></i></div><ng-template #elseBlock1>
      <i class="fa fa-times" aria-hidden="true"></i> &nbsp;
      <button mat-flat-button color="accent" (click)="confirm(reservation.queueID)"><i class="fa fa-check-circle"></i> Confirm</button>
      </ng-template></td>
    <td><button mat-flat-button color="warn" (click)="remove(reservation.queueID)"><i class="fa fa-trash" aria-hidden="true"></i> Remove</button></td>
  </tr>
  </tbody>
</table>
  </div>    

  </div>
</ng-template>
 <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>