<link href="https://fonts.googleapis.com/css?family=Poppins|Open+Sans&display=swap" rel="stylesheet">

<a routerLink="/home"><img src="../assets/images/LOGO.png" style="width: 110px;height: 110px; z-index:9999999;position:  relative;"
    class="mx-auto d-block img-responsive mt-5" id="siteIcon" alt="Back to Homepage"></a>

<br><br>
  <ng-template [ngIf]="!restaurantName || !username">
      <div class="container bg-light mt-n5 p-5 shadow py-3 rounded">
        <div class="text-secondary text-center">
          <br><br>
          <h3>You are not authorized to access the waitlist portal.</h3><br>
          <h3>Or, you are not logged in. <a routerLink="/login">Back to homepage.</a></h3>
          <br>

        </div>
      </div>
  </ng-template>

  <ng-template [ngIf]="restaurantName && username">
    <div class="container mt-n5">

    <div class="row">
      <div class="col-lg-7 bg-light text-dark ml-5 p-5 m-2 shadow">
          <h2><b>{{currentRestaurant.name}}</b> Waitlist Portal</h2>
          <img src="{{currentRestaurant.url}}">
          
          <p>{{currentRestaurant.address.number}} {{currentRestaurant.address.street}}<br>
            {{currentRestaurant.address.city}}, WA {{currentRestaurant.address.zip}}<br>
          {{currentRestaurant.email}}<br>
          {{currentRestaurant.phoneNumber}}</p>

          <div class="btn-group" role="group">
          <a routerLink="/waitlist-entry/{{restaurantId}}" role="button" class="btn btn-labeled btn-success">
            <i class="fa fa-plus" aria-hidden="true"></i> Add to
            Waitlist</a>
          <a routerLink="/menu/{{restaurantId}}" role="button" class="btn btn-labeled btn-primary">
            <i class="fa fa-bars" aria-hidden="true"></i> Restaurant Menu</a>
            <a href="/logout" role="button" class="btn btn-labeled btn-danger">
              <i class="fa fa-sign-out-alt" aria-hidden="true"></i> Log out</a>
          </div>
      </div>

      <div class="col-lg-4 bg-light text-dark p-0 m-2 shadow">
        <div class="btn-group-vertical text-center">

            <div class="card mx-auto" style="width: 100%;">
                <img class="card-img-top" src="{{profilePic}}" alt="{{displayName}}">
                <div class="card-body">
                  <div class="card-text">
                    <b>Welcome back </b><br>
                    <h3><span class="badge badge-success badge-pill">{{displayName}}</span></h3>
                  </div>
                </div>
              </div>

          
 
        </div>
      </div>
    </div>

    <ng-template [ngIf]="waitlist?.length > 0 && username">
      <div class="row mx-2 bg-info text-white p-1 shadow py-3">
        <div class="col-lg-6">
          Number of groups: <span class="badge badge-secondary badge-pill">{{ waitlist?.length }}</span>
        </div>
        <div class="col-lg-6">
          Average Wait Time (in minutes): <span class="badge badge-secondary badge-pill">{{avgWaitMin}}</span>
        </div>
      </div>
    </ng-template>

    <div class="row bg-light text-dark pt-0 m-2 shadow">
      <div class="table-responsive">
        <table class="table text-center text-dark">

          <thead class="thead-light">
            <tr>
              <th scole="col">Index</th>
              <th scope="col">Reservation ID</th>
              <th scope="col">Guest & Group Size</th>
              <th scope="col">Time joined</th>
              <th scope="col">Quoted Time</th>
              <th scope="col">Notified</th>
              <th scope="col">Confirmed</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let reservation of waitlist; index as id">
              <th scope="row">{{id + 1}}</th>
              <td scope="row">{{reservation.queueID}}</td>
              <td>

                <div class="media">
                  <div class="media-left media-middle">
                    <span id="initials">
                      <span class="editable media-object" contenteditable="true"
                        (keyup)="updateGroupSize(reservation.queueID, 'groupSize', $event)"
                        (blur)="refreshTable(id, 'groupSize', $event)">
                        {{reservation.groupSize}}
                      </span></span>
                  </div>
                  <div class="media-body text-left align-middle">
                    <strong>{{reservation.customerName}}</strong><br>
                    {{reservation.phone}}<br><small>{{reservation.email}}</small>
                  </div>
                </div>
              </td>
              <td class="text-center">{{ reservation.joinTime | date:'shortTime' }}</td>
              <td class="text-center">{{ reservation.quotedtime | date:'shortTime' }}</td>
              <td class="text-center">
                <div *ngIf="reservation.notified == true; else elseBlock"><i class="fa fa-check"></i></div>
                <ng-template #elseBlock>
                  <i class="fa fa-times" aria-hidden="true"></i> &nbsp;
                  <button class="btn btn-labeled btn-primary" (click)="notify(reservation.queueID)" type="button"
                    placement="top" ngbTooltip="Send customer a notification to inform their table is almost ready.."><i
                      class="fa fa-bell"></i></button>
                </ng-template>
              </td>
              <td class="text-center">
                <div *ngIf="reservation.confirmed == true; else elseBlock1"><i class="fa fa-check"></i></div>
                <ng-template #elseBlock1>
                  <i class="fa fa-times" aria-hidden="true"></i> &nbsp;
                  <button class="btn btn-labeled btn-warning" (click)="confirm(reservation.queueID)" type="button"
                    placement="top"
                    ngbTooltip="Manually mark customer has confirmed their reservation"><i class="fa fa-check-circle"></i></button>
                </ng-template>
              </td>
              <td class="text-center">
                <button class="btn btn-labeled btn-success" (click)="complete(reservation.queueID)" type="button"
                  placement="top" ngbTooltip="Complete a reservation when customer arrives."><i class="fa fa-check"
                    aria-hidden="true"></i></button>
                <button class="btn btn-labeled btn-danger" (click)="remove(reservation.queueID)" type="button"
                  placement="top" ngbTooltip="Remove from your waitlist when customer is a no show or requested a cancellation"><i class="fa fa-trash"
                    aria-hidden="true"></i></button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>
  </ng-template>



<script>
  $(function () {
    $('[data-toggle="popover"]').popover()
  })
</script>