  body div h1 {
    font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  }

  #initials {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: gray solid 2px;
    font-size: 30px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    margin: 0px 10px 0px 0px;
    display: inline-flex;
  }

  #header {
    background-color: #f39c12;
    min-height: 250px;
  }

  #card {
    bottom: -100px;
    position: relative;
    min-height: 150px;
  }

  #siteIcon {
    max-width: 150px;
    top: 80px;
    position: relative;
  }