.heading {
  margin: 0 6rem;
  font-weight: 700;
  color: #5d4267;
}
.subheading {
  margin: 2.5rem 6rem;
  color: #5d4267;
}
.title {
  margin-top: 6rem;
  margin-bottom: 2rem;
  color: #5d4267;
}
.subtitle {
  color: #5d4267;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 6rem;
}
.view {
  background: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  height:100%
}