<link href="https://fonts.googleapis.com/css?family=Poppins|Source+Sans+Pro&display=swap" rel="stylesheet">

<!-- Main navigation -->
<div style="top:0; left:0; position: absolute">
  
    <!-- Intro -->
    <section class="view">
      <div class="row">
        <div class="col-md-6">
          <div class="d-flex flex-column justify-content-center align-items-center h-100">
            <h1 class="heading display-3">
              <a class="navbar-brand"  routerLink="/login">
                <img src="../assets/images/LOGO.png" alt="WaytLess" class="img-fluid" height="200px" width="200px">
              </a></h1>
            <h4 class="subheading font-weight-bold">A complete waitlist management system enables your customers to browse a menu and place orders directly.</h4>

              <button type="button" class="btn btn-lg btn-danger btn-margin btn-rounded"><a href="/auth/google" style="color:white">Login with Google</a></button>
      
          </div>
  
        </div>
  
        <div class="col-md-6">
  
          <div class="view">
            <img src="https://images.pexels.com/photos/1528013/pexels-photo-1528013.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=2&h=750&w=1260" class="img-fluid" alt="smaple image">
            <div class="mask flex-center hm-gradient">
            </div>
          </div>
  
        </div>
  
      </div>
  
    </section>
    <!-- Intro -->
  </div>
