.brand_logo_container {
  border-radius: 50%;
  padding: 10px;
  text-align: center;
}
.brand_logo {
  height: 110px;
  width: 110px;
}
.logoutBtn{
  height:40px; 
  width:100px; 
  position: absolute;
  top: 8px;
  right: 16px;
  background-color: #ef6f31;
  text-align: center;
  border-radius: 3mm;
}
.order-cart-card{
    max-width: 500px;
    margin-top: 20px;
    justify-content: center;
    margin-top: 30px;
    align-content: center;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #808080;
}

table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 15px;
  }

  .confirmBtn{
    align-self: center;
    width: 200px;
    margin-left: 30px;
    background-color: #FF6E40; 
  }

  .confirmBtn:hover{
    background-color: black;
  }

  .total{
      font-size: x-large;
  }