<mat-card class = "order-cart-card">
    <mat-card-header>
        <mat-card-title>Order Cart</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <br>
        <table class = "orders">
          <tr>
          <th> Order name</th>
          <th>Price</th>
          <th>Quantity</th>
        </tr>
        <tr *ngFor="let order of orders">
          <td>{{order.name}}</td>
          <td>${{order.price}}</td>
          <td>{{order.quantity}}</td>
          <td><i class="material-icons " (click) = "editOrder()">edit</i></td>
          <td><i class="material-icons " (click) = "deleteFromCart()">delete</i></td>
        </tr>
        </table>
      </mat-card-content>
      <div class = "total">
        Total : $<span class = "totalprice">15.55</span>
      </div>

      <mat-card-actions>
          <button mat-raised-button class = "confirmBtn" (click)="orderConfirm()" color="primary">Confirm</button>
        </mat-card-actions>
</mat-card>